/* .container {
  padding: 20px;
  display: flexbox;
}

.link {
  margin: 20px auto 20px 20px;
  color: blue;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-decoration-style: inherit;
}
img {
  max-width: 80%;
  height: auto;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 2em;
  color: #333;
}

.description {
  max-width: 40%;
  font-size: 18px;
}
button {
  margin: 10px auto 10px auto;
}

hr {
  margin: 20px 0;
} */

.container {
  padding: 20px;
}

.button {
  margin: 10px auto 10px auto;
  padding: 10px 20px;
  background-color: #b9b9ba;
  color: rgb(2, 2, 2);
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #0777e7;
}

.details {
  display: flex;
  align-items: flex-start;
}

.poster {
  max-width: 500px;
  border-radius: 10px;
  margin-right: 40px;
}

.info {
  flex: 1;
}

.title {
  font-size: 50px;
  margin: 0px auto 20px auto;
}

.userScore {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

.genres {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

.description {
  max-width: 500px;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
  flex-direction: column;
}

.links {
  margin-top: 20px;
}

.link {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
