.nav {
  display: flex;
  justify-content: left;

  padding: 10px;
}

.link {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.active {
  font-weight: bold;
  text-decoration: underline;
  color: #ef0fca;
}
