.container {
  padding: 20px;
}

h2 {
  font-size: 1.5em;
  color: #333;
}

.list {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  width: calc(25% - 20px);
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
}

.image {
  width: 80%;
  height: auto;
  border-radius: 8px;
}

.name {
  margin-top: 10px;
  font-weight: bold;
}

.character {
  margin-top: 5px;
  color: #666;
}
